# MongoDB Configuration for SmartPOS Development

# Database credentials
MONGODB_USERNAME=admin
MONGODB_PASSWORD=admin@123
MONGODB_DATABASE=SmartPOS
MONGODB_PORT=27017

# Connection String cho Backend
# VPS Production
MONGODB_URI=***REMOVED***

# Localhost Development
# MONGODB_URI=***REMOVED***
